SimplyBrand.SocialMonitor.Controller/Service References/ReportService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/SimplyBrand/SocialMonitor/ReportService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SimplyBrand.SocialMonitor.Business.Utility" />
  <xs:element name="GeneratePDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sysUserId" type="xs:int" />
        <xs:element minOccurs="0" name="reportStarttime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reportEndTime" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SimplyBrand.SocialMonitor.Business.Utility" minOccurs="0" name="type" type="q1:EnumReportType" />
        <xs:element minOccurs="0" name="isSysGen" type="xs:boolean" />
        <xs:element minOccurs="0" name="platforms" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keywordFamilyIDs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emotionvalues" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GeneratePDFResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>